<header>
    <nav>
        <ul>
            <li>
                <a href="/users">Show Users</a>
            </li>
            <li>
                <a href="/">User-form</a>
            </li>
        </ul>
    </nav>
</header>